.btn{
	padding: 20px 32px;
	background: #F9B943;
	box-shadow: 0px 8px 15px rgba(253, 205, 59, 0.2);
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	transition: background 0.3s, transform 0.3s;
}
.btn.btn_small{
	padding: 12px 20px;
	background: #F9B943;
	box-shadow: 0px 8px 15px rgba(253, 205, 59, 0.2);
	color: #fff;
	font-weight: 600;
	display: inline-block;
	border-radius: 15px;
	transition: background 0.3s, transform 0.3s;
}
.btn:hover{
	background-color: #fa8d10;
	cursor: pointer;
	transform: scale(1.02);
	transition: background 0.175s;
}