.change{
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 80px;
	
}
.change__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}
.shift{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}
.shift__item{
	background-color: #248FFB;
	color: #fff;
	border-radius: 24px;
	padding: 40px;
	min-height: 180px;
	margin-bottom: 32px;
}
.shift__text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.shift__subtitle{
	font-weight: 500;
	font-size: 16px;
	line-height: 17px;
	text-transform: uppercase;
	max-width: 520px;
	margin-bottom: 20px;
	color: #ffffff;
}
.shift__title{
	margin-bottom: 20px;
	max-width: 520px;
}

@media screen and (max-width:1280px){
	.shift{	
		grid-template-columns: repeat(1, 1fr);
	}
	.shift__item{
		max-width: 50%;
		min-width: 320px;
	}

}
