.footer{
	background: #248FFB;
	color: #fff;
	padding: 24px 0;
}
.footer__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer a{
	text-decoration: underline;
	color: #fff;
}

@media screen and (max-width:1024px){
	.footer__text{
		font-size: 10px;
	}
	.footer a{
		font-size: 10px;
	}

}